# Functions in Python
    Function in Python - Introduction 
    Why we need functions?
    How to define functions?
    Calling function
    return statements in Python 
    Types of arguments in Python 
    Scope vs Namespace 
    Anonymous function - lambda filter, map and reduce function 
    Iterators & Generators 
    Modules in Python
    Importing module in Python
    Built-in Modules vs User defined modules 
    Use of if __name__ == '__main__'

In [7]:
add()

Enter first Number: 100
Enter Second Number: 200
300

In [4]:
# Function definition

def add():
    a = int(input('Enter first Number: '))
    b = int(input('Enter Second Number: '))
    print(a+b)

In [5]:
# Function call
add()

Enter first Number: 10
Enter Second Number: 20
30

In [6]:
add()

Enter first Number: 100
Enter Second Number: 200
300

In [16]:
# Return statement - ooutput to the function
# Defaut return value is None if you do not return anything
emp_dict = {}
def emp_details():
    """my Function"""
    emp_name = input('Enter your name: ')
    emp_id = input('Enter your id: ')
    emp_sal = input('Enter your salary: ')
    emp_dict[emp_id] = {'emp_name':emp_name, 'emp_sal':emp_sal}
    return emp_dict

In [9]:
print(emp_details())

Enter your name: ABC
Enter your id: 101
Enter your salary: 10000
{'101': {'emp_name': 'ABC', 'emp_sal': '10000'}}

In [10]:
print(emp_details())

Enter your name: XYZ
Enter your id: 102
Enter your salary: 20000
{'101': {'emp_name': 'ABC', 'emp_sal': '10000'}, '102': {'emp_name': 'XYZ', 'emp_sal': '20000'}}

In [11]:
d = emp_details()

Enter your name: MNO
Enter your id: 103
Enter your salary: 30000

In [13]:
d['103']['emp_sal'] = 25000

In [14]:
d

{'101': {'emp_name': 'ABC', 'emp_sal': '10000'},
 '102': {'emp_name': 'XYZ', 'emp_sal': '20000'},
 '103': {'emp_name': 'MNO', 'emp_sal': 25000}}

In [17]:
emp_details.__doc__

'my Function'

In [20]:
# print(dir(emp_details))

In [21]:
type(emp_details())

Enter your name: 11
Enter your id: 22
Enter your salary: 10000

dict

In [22]:
emp_dict = {}
def emp_details():
    """my Function"""
    emp_name = input('Enter your name: ')
    emp_id = input('Enter your id: ')
    emp_sal = input('Enter your salary: ')
    emp_dict[emp_id] = {'emp_name':emp_name, 'emp_sal':emp_sal}

In [23]:
print(emp_details())

Enter your name: Abh
Enter your id: 105
Enter your salary: 9876
None

In [26]:
# Type of arguments in Python - input to the function
#     Positional Argument
#     Default arguments
#     Keyworded argument
#     Variable length argument - *args
#     Variable length keyworded argument - **kwargs

emp_dict = {}
def emp_details(emp_name, emp_id, emp_sal):                    # Positional Arguments
    """my Function"""
    emp_dict[emp_id] = {'emp_name':emp_name, 'emp_sal':emp_sal}
    return emp_dict

In [29]:
emp_details(101,'ABC', 10000)

{101: {'emp_name': 'ABC', 'emp_sal': 10000},
 'ABC': {'emp_name': 101, 'emp_sal': 10000}}

In [30]:
e_name = input('Enter your name: ')
e_id = input('Enter your id: ')
e_sal = input('Enter your salary: ')
emp_details(e_name,e_id,e_sal)

Enter your name: abc
Enter your id: 103
Enter your salary: 30000

{101: {'emp_name': 'ABC', 'emp_sal': 10000},
 'ABC': {'emp_name': 101, 'emp_sal': 10000},
 '103': {'emp_name': 'abc', 'emp_sal': '30000'}}

In [31]:
# Default arguments
emp_dict = {}
def emp_details(emp_name, emp_id, emp_sal, emp_pan = 'XXXXX0000X'):                    # Default
    """my Function"""
    emp_dict[emp_id] = {'emp_name':emp_name, 'emp_sal':emp_sal, 'emp_pan':emp_pan}
    return emp_dict

In [32]:
print(emp_details('ABC', 101, 10000))

{101: {'emp_name': 'ABC', 'emp_sal': 10000, 'emp_pan': 'XXXXX0000X'}}

In [33]:
print(emp_details('XYZ', 102, 20000, 'ABCDE9876M'))

{101: {'emp_name': 'ABC', 'emp_sal': 10000, 'emp_pan': 'XXXXX0000X'}, 102: {'emp_name': 'XYZ', 'emp_sal': 20000, 'emp_pan': 'ABCDE9876M'}}

In [38]:
def circle(r, pi = 3.14):
    area = pi*r*r
    per = 2*pi*r
    return area,per

# Note - Default argument should always be written after positional argument

In [44]:
circle(4)

50.24

In [43]:
def circle(a):
    area = 3.14*a*a
    per = 2*3.14*a
    return area

In [45]:
circle(5)

78.5

In [46]:
a = 10
print(a)

10

In [47]:
a = 20
print(a)

20

In [48]:
# Keyworded Argument
emp_dict = {}
def emp_details(emp_name, emp_id, emp_pan, emp_sal = 0):                    
    """my Function"""
    emp_dict[emp_id] = {'emp_name':emp_name, 'emp_sal':emp_sal, 'emp_pan':emp_pan}
    return emp_dict

In [49]:
emp_details('ABC', 101, 10000,'XXXXX0000X')

{101: {'emp_name': 'ABC', 'emp_sal': 10000, 'emp_pan': 'XXXXX0000X'}}

In [50]:
emp_details(emp_name='XYZ', emp_id=102, emp_sal=20000, emp_pan = 'XXXXX0000X')

{101: {'emp_name': 'ABC', 'emp_sal': 10000, 'emp_pan': 'XXXXX0000X'},
 102: {'emp_name': 'XYZ', 'emp_sal': 20000, 'emp_pan': 'XXXXX0000X'}}

In [51]:
emp_details('MNO', 103, emp_pan = 'XXXXX0000X', emp_sal=20000)

{101: {'emp_name': 'ABC', 'emp_sal': 10000, 'emp_pan': 'XXXXX0000X'},
 102: {'emp_name': 'XYZ', 'emp_sal': 20000, 'emp_pan': 'XXXXX0000X'},
 103: {'emp_name': 'MNO', 'emp_sal': 20000, 'emp_pan': 'XXXXX0000X'}}

In [53]:
# Variable Length Arguments - *args, **kwargs

def sum_total(a,b=0,c=0):
    return a+b+c

10

In [54]:
sum_total(10,20,30)

60

In [55]:
sum_total(10,20)

30

In [56]:
sum_total(10)

10

In [61]:
def sum_total(*args):
    print(args, type(args))
    total = 0
    for i in args:
        total += i
    return total

In [62]:
sum_total(10)

(10,) <class 'tuple'>

10

In [63]:
sum_total(10,20)

(10, 20) <class 'tuple'>

30

In [64]:
sum_total(10,20,30)

(10, 20, 30) <class 'tuple'>

60

In [65]:
sum_total(10,20,30,40)

(10, 20, 30, 40) <class 'tuple'>

100

In [67]:
def contact_info(name, email):
    print('Name =', name)
    print('Email =', email)
    
def address(**kwargs):
    print("Street =", kwargs['street'])
    print("City =", kwargs['city'])
    print("State =", kwargs['state'])
    print("Pin =", kwargs['state'])
    print(kwargs, type(kwargs))
    contact_info(kwargs['emp_name'], kwargs['emp_email'])

In [68]:
address(17, 'Bangalore', 'Karntataka', 577121, emp_name = 'ABC', emp_email = 'abc@gmail.com')

Street = 17
City = Bangalore
State = Karntataka
Pin = 577121
{'emp_name': 'ABC', 'emp_email': 'abc@gmail.com'} <class 'dict'>
Name = ABC
Email = abc@gmail.com

In [70]:
address(street=17, city='Bangalore', state='Karntataka', pin=577121, emp_name = 'ABC', emp_email = 'abc@gmail.com')

Street = 17
City = Bangalore
State = Karntataka
Pin = 577121
{'emp_name': 'ABC', 'emp_email': 'abc@gmail.com'} <class 'dict'>
Name = ABC
Email = abc@gmail.com

In [1]:
# Scope & NameSpace

# NameSpace - Builtin - Global - Extended - Local

# Scope - Rule - Builtin - Global - Extended - Local

# print(x)


a = 10               # Global
def f1():            
    a = 11           # Extended
    def f2():        
        a = 111      # local
        print('Inside f2',a)
    f2()
    print('Inside f1',a)
    
print('In global',a)
f1()
# f2()

In global 10
Inside f2 111
Inside f1 11

NameError: name 'f2' is not defined

In [73]:
# print = 10

In [74]:
# print(10)

TypeError: 'int' object is not callable

# Anonymous function - lambda, filter, map and reduce function

In [4]:
# lambda
# lambda var1, var2, var3...:expr
# return value is expr

# a = lambda num:num**2
# print(a(3))

9

In [20]:
# filter(func, seq) => It filters a seq based on function

seq = [10,11,12,13,14,15,16,17,18,19]
# list(filter(lambda num:num%2 == 0, seq))

# list(map(lambda num:num**2, seq))


lst_id = [101,1020,103,1040]
# dict(zip(lst_id,list(map(lambda id:input('Enter the name with id '+ str(id)), [101,102,103,104]))))

# reduce - aggregate(sum, prod, max, min) - functools

# from functools import reduce
# reduce(lambda x,y:x+y, lst_id)

# reduce(lambda x,y:x if x>y else y, lst_id)

1040

In [9]:
def is_even(num):
    return True if num%2 == 0 else False
    
# filter(is_eve, seq) = [10, 12, 14, 16, 18]

lst = []
def my_filter(fun, seq):
    for i in seq:
        if fun(i) == True:
            lst.append(i)
    return lst
my_filter(is_even, seq)

[10, 12, 14, 16, 18]

# Modules in Python
# Importing module in Python
# Built-in Modules vs User defined modules 
# Use of if __name__ == '__main__'

In [ ]:
import mod_name

mod_name.fun()

In [ ]:
import mod_name as m
m.fun()

In [ ]:
import mod_name1, mod_name2, mod_name3
mod_name1.fun()
mod_name2.fun()
mod_name3.fun()

In [ ]:
import mod_name1 as m1, mod_name2 as m2, mod_name3 as m3
m1.fun()
m2.fun()
m3.fun()

In [ ]:
from mod_name1 import fun1, fun2, fun3
fun1()
fun2()
fun3()

In [ ]:
from mod_name1 import fun
fun()

In [1]:
import mod_1

In [5]:
mod_1.emp_details('ABC', 101, 'XXXX', 10000)

{101: {'emp_name': 'ABC', 'emp_sal': 10000, 'emp_pan': 'XXXX'}}

In [2]:
mod_1.x

111

# File Handling in Python
    File Handling in Python
    Types of files in Python
    Why file handling is required in Python? 
    open() & close() function
    Different modes in File Handling
    seek() and tell() methods
    Functions to read and write

In [15]:
#Write a python program to find below output using loop:-

#Input:- 'This is Python class', sep = ' is', 
#Output:- ['This', 'is', 'Python class']

my_str = 'This a is Python class'
out_lst = []
out_str = ''
sep = ' is'
lst_str = ''
j = 0
for i in range(len(my_str)):
    if my_str[i] == sep[j]:
        out_str += my_str[i]
        j += 1
        if out_str == sep:
            out_lst.append(lst_str)
            out_lst.append(out_str)
            out_lst.append(my_str[(my_str.index(out_str)+3):])
            break
    else:
        lst_str += my_str[i]
        out_str = ''
        j = 0
print(out_lst)

# [my_str[:my_str.index(' is')],sep ,my_str[(my_str.index(' is')+3):]]

['Thisa', ' is', ' Python class']

['This a', ' is', ' Python class']