# List Methods

In [1]:
# print(dir(list))
# 'clear'

In [132]:
import pandas as pd
pop = pd.read_csv('/Users/vigneshkarthick/desktop/LB_DSC_WKDY_SEPT_2020/Data/population_2017.csv')
country_lst_head = list(pop['Country_name'].head(5))
pop_lst_head = list(pop['Population'].head(5))
print(country_lst, pop_lst)

['Vatican City', 'Tokelau', 'Niue', 'Falkland Islands', 'Saint Helena'] [792, 1300, 1618, 2910, 4049]

In [3]:
# append(obj) - adds the object at the end of the list
# It returns None 
# it will modify the exisiting list
print('Before Operation')
print(country_lst, id(country_lst))

Before Operation
['Vatican City', 'Tokelau', 'Niue', 'Falkland Islands', 'Saint Helena'] 4636583304

In [4]:
# Adding Country - India to country list
country_lst.append('India')
print('After Operation')
print(country_lst, id(country_lst))

After Operation
['Vatican City', 'Tokelau', 'Niue', 'Falkland Islands', 'Saint Helena', 'India'] 4636583304

In [5]:
# Add the population of india to poulation list
pop_lst.append(13100000000)
print(pop_lst)

[792, 1300, 1618, 2910, 4049, 13100000000]

In [8]:
# We can not add multiple object in a single append method
pop_lst.append([10,20])
print(pop_lst)

[792, 1300, 1618, 2910, 4049, 13100000000, [10, 20], [10, 20]]

In [9]:
# Remob=ving the data from alist - pop(ind), pop(), remove(val)
# Removing [10,20] from pop_lst
# pop(ind) - remove the value at specified index

# print(pop_lst.pop(-2))

[10, 20]

In [10]:
# print(pop_lst)

[792, 1300, 1618, 2910, 4049, 13100000000, [10, 20]]

In [12]:
# Removeing last elemnt from list
# pop() without index remove the value from the end

# print(pop_lst.pop())

[10, 20]

In [13]:
# print(pop_lst)

[792, 1300, 1618, 2910, 4049, 13100000000]

In [14]:
# remove(val) - it remove the first occurence of the value from left side in the list
# pop_lst.remove(13100000000)

In [15]:
# print(pop_lst)

[792, 1300, 1618, 2910, 4049]

In [16]:
# pop_lst.remove(1618)

In [17]:
# print(pop_lst)

[792, 1300, 2910, 4049]

In [19]:
pop_lst

[792, 1300, 1618, 2910, 4049]

In [29]:
# for i in pop_lst:
#     if i > 1500:
#         pop_lst.remove(i)

# for i in range(-1, -len(pop_lst),-1):
#     if pop_lst[i] > 1500:
#         pop_lst.pop()
# print(pop_lst)
pop_lst

[792, 1300, 1618, 2910, 4049]

In [38]:
# import numpy as np
# arr1 = np.array(pop_lst)
# list(arr1[arr1<1500])
# print(arr1 * 2)

[1584 2600 3236 5820 8098]

In [33]:
# map(func, seq)

# list(map(lambda num:num*2, pop_lst))

[1584, 2600, 3236, 5820, 8098]

In [35]:
# out_lst = []
# for i in pop_lst:
#     out_lst.append(i*2)
# print(out_lst)

[1584, 2600, 3236, 5820, 8098]

In [48]:
# Extending a list
print(pop_lst_head)
pop_lst_tail = list(pop['Population'].tail(5))
print(pop_lst_tail)

# Concatenation of two lists
# print(pop_lst_head + pop_lst_tail)
# print(pop_lst_head)
# print(pop_lst_tail)

# Updating tail into head
pop_lst_head.extend(pop_lst_tail)
print(pop_lst_head)
print(pop_lst_tail)

# Insert(ind, val)
# inserts an element at a particular index

country_lst_head.insert(2, ['India'])
print(country_lst_head)

[792, 1300, 1618, 2910, 4049, 178844, 196440, 204327, 253045, 276244]
[178844, 196440, 204327, 253045, 276244]
[792, 1300, 1618, 2910, 4049, 178844, 196440, 204327, 253045, 276244, 178844, 196440, 204327, 253045, 276244]
[178844, 196440, 204327, 253045, 276244]
['Vatican City', 'Tokelau', ['India'], 'India', 'Niue', 'Falkland Islands', 'Saint Helena']

In [51]:
# 'count', 'index', 

# count give no of timee a particular element is repeating in lst
# index - returns the index of first occurrence of the element inside the list from LHS

# print(pop_lst_head)
# print(pop_lst_head.count(178844))
# print(pop_lst_head.index(178844))

[792, 1300, 1618, 2910, 4049, 178844, 196440, 204327, 253045, 276244, 178844, 196440, 204327, 253045, 276244]
2
5

In [66]:
# 'reverse', 'sort'

# reverse - reverses a list
# sort method - sorts a list in ascending order

import random
random.shuffle(pop_lst_head)
print(pop_lst_head)

# print(pop_lst_head)
# pop_lst_head.reverse()
# print(pop_lst_head)

[204327, 253045, 4049, 276244, 2910, 204327, 196440, 253045, 1300, 276244, 1618, 178844, 792, 196440, 178844]

In [68]:
pop_lst_head.sort()
print(pop_lst_head)

[792, 1300, 1618, 2910, 4049, 178844, 178844, 196440, 196440, 204327, 204327, 253045, 253045, 276244, 276244]

In [69]:
pop_lst_head.sort(reverse = True)
print(pop_lst_head)

[276244, 276244, 253045, 253045, 204327, 204327, 196440, 196440, 178844, 178844, 4049, 2910, 1618, 1300, 792]

In [70]:
pop_lst_head.clear()

In [71]:
print(pop_lst_head)

[]

In [72]:
print(pop_lst_tail)

[178844, 196440, 204327, 253045, 276244]

In [73]:
pop_lst_tail.clear()

In [74]:
print(pop_lst_tail)

[]

In [77]:
# List comprehension
# [i*2 for i in pop_lst]
# [i for i in pop_lst if i<1500]

[792, 1300]

In [148]:
# [[0,0,0,0],
# [0,1,2,3],
# [0,2,4,6],
# [0,3,6,9]]

# out_lst = []
# for i in range(4):
#     in_lst = []
#     for j in range(4):
#         in_lst.append(i*j)
#     out_lst.append(in_lst)
# print(out_lst)

# i = 2
# j = 3
# in_lst = [0,2,4,6]
# out_lst = [[0,0,0,0], [0,1,2,3], [0,2,4,6]]





a= [[i*j for j in range(4)]for i in range(4)]
print(a)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

# Tuple

In [ ]:
# Tuple is a Collection of Heterogenous elements kept inside parenthesis separated by comma

# Tuple can have any value as it's element
# Tuple can have duplicate element
# parenthesis are optional
# Tuple is a sequence
# It is an ordered collction
# +ve indexing and -ve indexing both are allowed
# Indexing, slicing, concatenation, repetition, membership, identity
# Tuple is immutable object - It is modifiable

In [85]:
#Ternary operator
# expr1 if cond1 else expr2
# a = 200
# b = 200
# c = 30
# a if a>b and a>c else b if b>c else c

200

In [87]:
tpl = (10,20,30)
print(tpl, type(tpl))

(10, 20, 30) <class 'tuple'>

In [88]:
tpl = 10,20,30
print(tpl, type(tpl))

(10, 20, 30) <class 'tuple'>

In [91]:
tpl = 10,
print(tpl, type(tpl))

(10,) <class 'tuple'>

In [92]:
# Tuple can have any value as it's element
tpl = (10,20.30, 10+20j, 'Python', None, True)
print(tpl, type(tpl))

(10, 20.3, (10+20j), 'Python', None, True) <class 'tuple'>

In [101]:
# Tuple can have duplicate element
tpl = (10,20.30, 10+20j, 10,'Python', True,None, 10.20,10,True)
print(tpl, type(tpl))

(10, 20.3, (10+20j), 10, 'Python', True, None, 10.2, 10, True) <class 'tuple'>

In [96]:
# Indexing
print(tpl[0])
print(tpl[-1])
print(tpl[-5])

10
True
True

In [103]:
# Slicing - creats a new object
# print(tpl[2:5])
# print(tpl[::-1])
# print(tpl[5::-1])
# print(tpl[:5:-1])
# print(tpl[2:7:-1])

((10+20j), 10, 'Python')
(True, 10, 10.2, None, True, 'Python', 10, (10+20j), 20.3, 10)
(True, 'Python', 10, (10+20j), 20.3, 10)
(True, 10, 10.2, None)
()

In [105]:
# print(dir(tuple))

# 'count', 'index'

In [107]:
# tpl[0] = 1000

TypeError: 'tuple' object does not support item assignment

In [119]:
# Tuple packing and unpacking - (List unpacking)

# Packing - multiple valyes into a single variable

# a = 10
# b = 20
# c = 30
# d = 40
# tpl = a,b,c,d     # Tuple packing
# print(tpl, type(tpl))


# Unpacking - opposite pf packing
# tpl = (10,20.30, 10+20j, 'Python', True,None)
# a,b,a,d,e,f = tpl
# print(a,b,c,d,e,f, sep = '\n')
# print(tpl)

(10+20j)
20.3
(10+20j)
Python
True
None
(10, 20.3, (10+20j), 'Python', True, None)

In [ ]:
#Write a Python program to count the number of strings having length more than 2 and are palindrome in a list using loop.
#Input:- ['ab', 'abc', 'aba', 'xyz', '1991']
#Output:- 2

In [ ]:
#Write a Python program to remove fuplicate element from a list using loop.
#Input:- [10,1,11,1,29,876,768,10,11,1,92,29,876]
#Output:- [10,1,11,29,876,768,92]

# Dictionary

In [131]:
# Dictionary is a collection of key value pair in Python

# d = {key1:value1, key2:value2, key3:value3}

# One key value pair is called item
# Item separated by colon
# key can not be duplicated, values may be duplicated
# only immutable object are allowed as key
# key is similar to index in seq
# dictionary mutable objects
# Ditionary is not a seq so it is not an prdered collection of elements

# accessing in dictionary
# d['key1']   => this gives us value1

# d = {1:100, 10.20:100.234, 10+2j:100+200j, 'a':'Python', None:True, True:False, (10,20,30):[10,20,30], [10,20]:100}

# d = {1:100, 10.20:100.234, 10+2j:100+200j, 'a':'Python', None:True, True:False, (10,20,30):[10,20,30], 1:1111}
# # print(d)
# d[10.20] = 111.222
# d

# d = dict(list(enumerate([10,20,30,40])))
# print(d[0])

10

In [130]:
list(enumerate([10,20,30,40]))

[(0, 10), (1, 20), (2, 30), (3, 40)]

In [133]:
country_lst_head

['Vatican City', 'Tokelau', 'Niue', 'Falkland Islands', 'Saint Helena']

In [134]:
pop_lst_head

[792, 1300, 1618, 2910, 4049]

In [135]:
dict(zip(country_lst_head,pop_lst_head))

{'Vatican City': 792,
 'Tokelau': 1300,
 'Niue': 1618,
 'Falkland Islands': 2910,
 'Saint Helena': 4049}

In [139]:
# emp_name = ['emp1', 'emp2', 'emp3']
# emp_info = [(29, 30000),(35, 35000),(45, 45000)]
# dict(zip(emp_name,emp_info))['emp1'][1]

30000

In [ ]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

In [140]:
# Dictionary Methods
# print(dir(dict))

# 'clear'

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [143]:
# 'get', 'setdefault' - used to access the value with respect to key or used to update the dictionary

emp_info = {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':'$10,000'}, 
                   'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':'$9,000'}, 
                   'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':'$9,500'}}

emp_info

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'},
 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'},
 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [149]:
print(emp_info['emp1']['e_name'])
emp_info['emp1']['e_name'] = 'John Smith'
emp_info

John Smith

{'emp1': {'e_name': 'John Smith', 'e_id': 'SG101', 'e_sal': '$10,000'},
 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'},
 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [161]:
# syntax = dict.get(key, default = None)
# upon not passing the second arg and if key is not present then it will give None
# if key is present then it prints the value
# it does not update a dictionary with default value

print(emp_info['emp1'].get('e_addr', 'This key is not present'))
# print(emp_info)


# syntax = dict.setdefault(key, default = None)
# upon not passing the second arg and if key is not present then it will give deafult and update the dictionary with key and deafult value
# if key is present then it prints the value associated with key, no changes to the dictionary
# it update a dictionary with default value/valu passed

# print(emp_info['emp1'].setdefault('e_addr1', 'India'))
# print(emp_info)

India
{'emp1': {'e_name': 'John Smith', 'e_id': 'SG101', 'e_sal': '$10,000', 'e_addr': None, 'e_addr1': 'India'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [162]:
# 'pop', 'popitem',

# pop(key[, deafult]) - if key is present, it removes key value paor and freturns the value, else returns the default value
# if key is not present and default value is not mentioned then raises key error

print(emp_info['emp1'].pop('e_addr1'))

print(emp_info)

India
{'emp1': {'e_name': 'John Smith', 'e_id': 'SG101', 'e_sal': '$10,000', 'e_addr': None}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [164]:
# print(emp_info['emp1'].pop('e_addr1', 'This key is not present'))

# print(emp_info)

This key is not present
{'emp1': {'e_name': 'John Smith', 'e_id': 'SG101', 'e_sal': '$10,000', 'e_addr': None}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [165]:
# popitem removes a random element from a dictionary and returns the key value pair in the form of tuple
# dict.popitem()


# print(emp_info['emp1'].popitem())

# print(emp_info)

('e_addr', None)
{'emp1': {'e_name': 'John Smith', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [170]:
# update - similar to extend method

emp_info

emp_info2 = {'emp4': {'e_name': 'Ray', 'e_id': 'SG104', 'e_sal': '$15,000'},
 'emp5': {'e_name': 'Broad', 'e_id': 'SG105', 'e_sal': '$19,000'}}

emp_info.update(emp_info2)   # it updates emp_info2 into emp_info
print(emp_info)

{'emp1': {'e_name': 'John Smith', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}, 'emp4': {'e_name': 'Ray', 'e_id': 'SG104', 'e_sal': '$15,000'}, 'emp5': {'e_name': 'Broad', 'e_id': 'SG105', 'e_sal': '$19,000'}}

In [176]:
# 'items', 'keys', 'values'

# print(list(emp_info.keys()))

# print(list(emp_info.values()))

# print(list(emp_info.items()))

[('emp1', {'e_name': 'John Smith', 'e_id': 'SG101', 'e_sal': '$10,000'}), ('emp2', {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}), ('emp3', {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}), ('emp4', {'e_name': 'Ray', 'e_id': 'SG104', 'e_sal': '$15,000'}), ('emp5', {'e_name': 'Broad', 'e_id': 'SG105', 'e_sal': '$19,000'})]

In [180]:
# fromkeys',  

d = {}
d = d.fromkeys(country_lst_head)
print(d)

{'Vatican City': None, 'Tokelau': None, 'Niue': None, 'Falkland Islands': None, 'Saint Helena': None}

In [181]:
# s = set()
# print(s, type(s))

set() <class 'set'>

In [183]:
d.clear()

In [184]:
d

{}

In [185]:
# square value of all elements from 5-30 and number shoulr be divisible by 5
{i:i**2 for i in range(5,30,5)}

{5: 25, 10: 100, 15: 225, 20: 400, 25: 625}

In [186]:
{country_lst_head[i]:pop_lst_head[i] for i in range(len(country_lst_head))}

{'Vatican City': 792,
 'Tokelau': 1300,
 'Niue': 1618,
 'Falkland Islands': 2910,
 'Saint Helena': 4049}