### strings

In [1]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [6]:
s = "abcd 12 a b "

print(s.count('A'))
print(s.count('cd'))
print(s.count(' '))
print(s.count('a'))

0
1
4
2

In [5]:
s = "abcABC12 a b "
print(len(s))

13

In [8]:
s = "abcd"
print(s.startswith("ab"))
print(s.startswith("cd"))

True
False

In [11]:
# membership check for sequences : in keyword
s = "abcdef"

print("a" in s)
print("bc" in s)
print("BCD" in s)

True
True
False

In [14]:
s = "1+2+3+4"

print(s.partition('-'))
print(s.split('+'))

('1+2+3+4', '', '')
['1', '2', '3', '4']

### if else

In [16]:
n1 = int(input("n1:"))
n2 = int(input("n2:"))

res = n1
if res < n2:
    res = n2
    
print(res)

n1:111
n2:1
111

In [ ]:
n1 = int(input("n1:"))
n2 = int(input("n2:"))

if n1 < n2:
    print(n2)
else:
    print(n1)

In [ ]:
if <condition>: # condition means something that  can be evaluated to true or false
    ..
elif <condition>:
    ..
elif <condition>:
    ..
    ...
else:
    ..

In [22]:
s  = input()
if s.isdigit():
    print("digit")
elif s.isspace():
    print("space")
    
print("End")

abd
End

In [25]:
if False:
    print("never")
elif True:
    print("abcd")
else:
    print("abcd")

abcd

In [28]:
n1 = int(input("n1:"))
n2 = int(input("n2:"))
n3 = int(input("n3:"))

if n1 >= n2 and n1 >= n3:
    print(n1)
elif  n2 >= n1 and n2 >= n3:
    print(n2)
else:
    print(n3)

n1:3
n2:1
n3:2
3

In [32]:
n1 = int(input("n1:"))
n2 = int(input("n2:"))
n3 = int(input("n3:"))

res =  n1
if n2 > res:
    res = n2
if n3 > res:
    res = n3

print(res)

n1:3
n2:2
n3:1
3

In [ ]:
n1 = int(input("n1:"))
n2 = int(input("n2:"))
n3 = int(input("n3:"))

if n1 >= n2:
    if n1 >= n3:
        print(n1)
    else:
        print(n3)
else:
    if n2 >= n3:
        print(n2)
    else:
        print(n3)

In [33]:
# even/odd
n = int(input())

if n%2:
    print("odd")
else:
    print("even")

123
odd

In [36]:
s =  input()

if s:
    print(len(s))
else:
    print("don't enter empty string")

1

In [38]:
if None:
    print("True")
else:
    print("False")

False

In [ ]:
# and, or, not

In [46]:
print(1 and 2 and 3)
print(1 and 0 and 3)
print("abc" and 123 and 1.5)
print("abc" and 123 and "a")
print(repr("" and 123 and "a"))
print(repr(" " and -123 and "a"))

3
0
1.5
a
''
'a'

In [ ]:
s != ""

In [48]:
print(1 or 2 or 3)
print(0 or 1 or 3)
print("abc" or 123 or 1.5)
print("" or 123 or "a")
print("" or 0 or 0.0)

1
1
abc
123
0.0

In [51]:
n =  int(input())

if n%3  == 0 or n%5 == 0:
    print("Multiple of 3 or 5 or both")
else:
    print("not multiple of 3 and 5")

5
Multiple of 3 or 5 or both

In [52]:
# no. should be multiple of both 3 and 5
n =  int(input())

if n%3  == 0 and n%5 == 0:
    print("Multiple of both 3 and 5")
else:
    print("not multiple of 3 and 5")

9
not multiple of 3 and 5

In [54]:
print(not True)
print(not False)
print(not "")
print(not "abcd")

print()
print(not "0")
print(not -0.9)

False
True
True
False

False
False

In [56]:
f = print

if  f:
    print("there's something")
else:
    print("empty")

there's something

In [55]:
f = print() # calling

if  f:
    print("there's something")
else:
    print("empty")

empty

In [58]:
s = input()

if s.isdigit:
    print("is digit")
else:
    print("not  digit")

ddd
not  digit

In [ ]:
s = input()

if s.isdigit():
    print("is digit")
else:
    print("not  digit")

### string formatting

In [59]:
x = 10
y = 20
print(f"x = {x} y = {y}")

x = 10 y = 20

In [64]:
import datetime
print(f"Time = {datetime.datetime.now()}")

Time = 2020-10-01 03:59:46.155518

In [88]:
# formatting using format string
# %d => int
# %f => float
# %s => string
x: int = 10
y:float = 20
print("x = %d y = %f" % (x,y))
print("x = %d y = %f  %s" % (x,y, "abcd")) # %: modulus operator  used for string formatting
print("%d %f  %s" % (x+y, 10, "abcd"))
print("x = %d" % x)
print(y, type(y))

x = 10 y = 20.000000
x = 10 y = 20.000000  abcd
30 10.000000  abcd
x = 10
20 <class 'int'>

In [84]:
# formatting using format function
x = 10
y = 20
print("x = {} y = {}  {}".format(x+y, True, "abcd"))

x = 30 y = True  abcd

In [75]:
print(1*2)
print("a" * 2)

2
aa

In [77]:
a = []
print(a, type(a))
r = dir()
print(type(r))

[] <class 'list'>
<class 'list'>

In [86]:
print(datetime.datetime.now(), "ABCD:", "This is datetime")
log()

2020-10-01 04:13:35.966103 ABCD: This is datetime

In [ ]:
"SELECT * from {};".format(table_name)

In [87]:
# x= .. y = ..

x = int(input())
y = x//2

s = "x = " + str(x) + " y = " + str(y)
print(s)

11
x = 11 y = 5

In [91]:
s = "x = %d y = %f" % (x,y)

In [89]:
print("x = %d y = %f" , x,y)

x = %d y = %f 10 20

In [92]:
x = 10
y = 20
s = f"x = {x} y = {y}"
print(s)

x = 10 y = 20

In [97]:
r = "{} {s} {x}, {x}/{s}".format(10, s=1.5, x = 1)
print(r)

10 1.5 1, 1/1.5

In [100]:
print("gaurav\nabcd")
print("gaurav\n abcd")

gaurav
abcd
gaurav
 abcd